/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}*/

/* .prop {
  width: 250px;
  height: 250px;
  border: 2px solid red;
  border-radius: 10px;
  margin: auto;
} */

*{
  box-sizing: border-box;
}

.myCard {
  width: 300px;
  height: 200px;
  border: 2px solid grey;
  border-radius: 10px;
  box-shadow: 2px 4px 6px red;
  margin: auto;
  padding: 5px;
}

.containerg {
  width: 500px;
  height: 700px;
  margin: auto;
  border: 1px solid red;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: rgba(20, 30, 40, 0.5);
}

.line {
  width: 95%;
  height: 40px;
  background-color: none;
  display: inline-block;
  flex-direction: column;
  display: flex;
  flex-direction: column;
  margin: auto;
  border-radius: 5px;
  color: white;
}

button {
  height: 40px;
  width: 30%;
  position: relative;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  
}



section {
  text-align: center;
  margin: auto;
  margin-bottom: 0px;
}

.one, .two, .three, .four{
  width: 47.5%;
}
/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #000;
}

.form-container {
  position: relative;
  top: 3rem;
  width: 50%;
  margin: 0 auto;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2.5rem;
  background-color: rgb(143, 238, 238);
}

.form-control {
  width: 100%;
  outline: none;
  border: 1px solid orange;
  border-radius: 1rem;
  appearance: none;
  padding: 0.5rem 0.75rem;
  margin-bottom: 0.5rem;
}

.btn{
  width: 50%;
  outline: none;
  border: 1px solid teal;
  border-radius: 2rem;
  appearance: none;
  padding: .5rem .75rem;
  margin-bottom: 1rem;
}

.submit-btn:hover{
  background-color: rgb(55, 213, 55);
  transition: 2s ease-in;
  cursor: pointer;
}

.btn-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.back-btn {
  background-color: red;
  color: white;
}

.back-btn:hover {
  background-color: white;
  color: red;
  border: 1px solid red;
  transition: 2s ease-in;
  cursor: pointer;
}
/* The 30th September Test Counter Styles */
.countReturn {
  width: 250px;
  height: 170px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(rgb(34, 5, 5), rgb(0, 36, 0), rgb(1, 1, 32), 0.8);
  border-radius: 10px;
  box-shadow: 5px 10px 15px black;
}

.decCounter {
  background: orange;
  border-radius: 5px;
  margin-top: 50px;
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 2px 3px blue;
}

.decCounter:hover {
  background-color: greenyellow;
}